*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 3rem;
  box-shadow: .25rem .25rem 2rem rgba($color-black,.1);
}