%section-default {
  background-color: $color-grey--light--1;
  padding: 25rem 0;
}

.section-about {
  margin-top: -20vh;
  @extend %section-default;
}

.section-features {
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem;
  @include background-img-gradient('./assets/img/nat-4.jpg');

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  @extend %section-default;
  margin-top: -10rem;
  padding-bottom: 50rem;
}
