.card {
  $card-height: 50rem;

  perspective: 150rem;
  -moz-perspective: 150rem;

  // position
  position: relative;
  height: $card-height;

  &__side {
    font-size: 2rem;
    transition: all .8s ease;

    // position
    position: absolute;
    top: 0;
    left: 0;
    height: $card-height;
    width: 100%;

    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &--orange {
        background-image: $color-secondary--gradient;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    @include clip-path(85%);

    &--1 {
      background-image: $color-secondary--gradient, url('./assets/img/nat-5.jpg');
    }

    &--2 {
      background-image: url('./assets/img/nat-5.jpg');
    }

    &--3 {
      background-image: url('./assets/img/nat-5.jpg');
    }
  }

  &__heading {
    // TEXT
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    // SIZE AND POSITION
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    z-index: 1;

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: $color-secondary--gradient;
      }
    }
  }

  &__details {
    padding: 3rem;
    font-weight: 500;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey--light--2;
        }
      }
    }
  }

  &__cta {
    @include absolute-center;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    margin-bottom: 7rem;
    color: $color-white;

    &__heading {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &__value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
